[Unit]
Description=Telegram bot 'UrlToPngBot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/python3.6 /root/urltopngbot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target